.navbar {
  min-height: 80px;
  display: flex;
  justify-content: center; }
  .navbar.navbar-transparent {
    background-color: transparent !important;
    border-bottom: none !important; }
  .navbar .navbar-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .navbar .navbar-header .navbar-brand {
      font-size: 2em;
      text-transform: uppercase;
      font-weight: bold;
      color: white; }

#hero .hero-welcome {
  width: 100%;
  overflow: hidden;
  display: flex !important;
  align-items: center; }
  #hero .hero-welcome .item {
    display: flex;
    align-items: center;
    justify-content: center; }
    #hero .hero-welcome .item .overlay {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.1);
      height: 100%;
      width: 100%;
      z-index: 2; }
    #hero .hero-welcome .item img {
      height: 699px;
      width: 100%;
      object-fit: cover; }
    #hero .hero-welcome .item figcaption {
      text-transform: uppercase;
      text-align: center;
      color: white;
      position: absolute;
      z-index: 99; }
      #hero .hero-welcome .item figcaption p:first-child {
        font-size: 3em;
        font-weight: 400;
        margin-bottom: 0; }
      #hero .hero-welcome .item figcaption p:last-child {
        font-size: 1.5em;
        font-weight: 300;
        margin-top: 0; }

#food-list {
  padding-top: 32px; }
  #food-list .container,
  #food-list .container-fluid {
    margin-bottom: 32px; }
  #food-list header h3 {
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 300; }
  #food-list .card {
    padding-top: 15px; }
  #food-list .item {
    border-radius: 2.5px;
    position: relative;
    border: 1px solid #CD1A38;
    height: 250px; }
    #food-list .item img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    #food-list .item figcaption {
      background-color: #CD1A38;
      padding: 8px;
      position: absolute;
      z-index: 99;
      text-transform: uppercase;
      right: 0;
      left: 0;
      bottom: 0; }
      #food-list .item figcaption.message {
        bottom: 50%;
        padding: 0 25px;
        text-align: center;
        background: none; }
        #food-list .item figcaption.message p {
          padding: 20px 0;
          background-color: #CD1A38; }
      #food-list .item figcaption p {
        color: white;
        margin: 0; }
        #food-list .item figcaption p:first-child {
          font-size: 1.5em;
          font-weight: bold; }
        #food-list .item figcaption p:last-child {
          font-size: 1.25em;
          font-weight: 300; }
    #food-list .item:hover {
      border: 1px solid #98091B;
      cursor: pointer; }
      #food-list .item:hover figcaption:not(.message) {
        background-color: #98091B; }
  #food-list .picked .item {
    opacity: 0.7;
    cursor: not-allowed;
    border: 1px solid #D2D7D3; }
    #food-list .picked .item figcaption:not(.message) {
      background-color: #D2D7D3; }

#cart {
  position: fixed;
  background-color: white;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 8px 16px;
  width: 499px; }
  #cart .send .btn {
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px; }
    #cart .send .btn.btn-default {
      background-color: #CD1A38;
      border: none;
      color: white; }
      #cart .send .btn.btn-default:hover {
        background-color: #98091B; }
    #cart .send .btn.full-width {
      width: 100%; }
  #cart .list {
    padding: 4px 8px; }
    #cart .list .meja {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around; }
      #cart .list .meja .item {
        margin: 10px 0px;
        min-width: 50px;
        width: 100px;
        padding: 10px;
        background-color: #CD1A38;
        border: 1px solid #CD1A38;
        text-align: center;
        color: white;
        font-weight: bold; }
        #cart .list .meja .item.not-available {
          cursor: not-allowed;
          background-color: #D2D7D3;
          border: 1px solid #D2D7D3; }
        #cart .list .meja .item.picked {
          background-color: white;
          color: #CD1A38;
          border: 1px solid #CD1A38; }
          #cart .list .meja .item.picked:hover {
            background-color: white !important;
            color: #CD1A38;
            border: 1px solid #CD1A38; }
        #cart .list .meja .item:hover:not(.not-available) {
          cursor: pointer;
          background-color: #98091B; }
        #cart .list .meja .item p {
          margin: 0px; }
  #cart table {
    position: relative;
    width: 100%; }
    #cart table tr {
      position: relative;
      width: 100%;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 4px 8px; }
      #cart table tr.message {
        justify-content: center; }
        #cart table tr.message td {
          font-weight: 300;
          background-color: #D2D7D3;
          padding: 10px 0;
          max-width: none;
          width: 100%;
          text-align: center; }
      #cart table tr td {
        padding: 10px 0;
        min-width: 100px;
        max-width: 150px; }
        #cart table tr td:nth-child(2) {
          padding: 0; }
        #cart table tr td:last-child {
          min-width: 25px;
          text-align: center; }
        #cart table tr td .close {
          float: none; }
    #cart table td:nth-child(3),
    #cart table td[colspan="2"] + td {
      text-align: right; }
  #cart .input-group.number-custom button.btn {
    border-radius: 2.5px; }
  #cart .input-group.number-custom input.form-control {
    max-width: 50px;
    text-align: center; }

.btn.btn-custom-dark {
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2.5px;
  border: 2px solid white;
  transition: all ease 0.3s; }
  .btn.btn-custom-dark:hover {
    color: #F32C33;
    background-color: white; }

html, body, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif !important;
  color: #282830; }
