.btn{
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top:10px;
  padding-bottom: 10px;

  &.full-width{
    width: 100%;
  }

  &.btn-default-red{
    background-color: $color-primary;
    border:none;
    color:white;

    &:hover{
      background-color: $color-primary-dark;
    }
  }

  &.btn-custom-dark{
    color : white;
    font-weight: bold;
    padding : 8px 16px;
    background-color: rgba(0,0,0,0.3);
    border:2px solid white;
    transition: all ease 0.3s;

    &:hover, &:focus{
      color : $color-accent!important;
      background-color: white!important;
    }
  }
  &.btn-custom{
    color : white;
    font-weight: bold;
    padding : 8px 16px;
    background-color: $color-primary;
    border:2px solid $color-primary;
    transition: all ease 0.3s;

    &:hover, &:focus{
      color : $color-primary!important;
      background-color: white!important;
    }
  }


}
