.btn{
  text-align: center;
  text-transform: uppercase;
  border-radius: 2.5px;

  &.btn-custom-dark{
    color : white;
    font-weight: bold;
    padding : 8px 16px;
    background-color: rgba(0,0,0,0.3);
    border:2px solid white;
    transition: all ease 0.3s;

    &:hover, &:focus{
      color : $color-accent!important;
      background-color: white!important;
    }
  }
  &.btn-custom{
    color : white;
    font-weight: bold;
    padding : 8px 16px;
    background-color: $color-primary;
    border:2px solid $color-primary;
    transition: all ease 0.3s;

    &:hover, &:focus{
      color : $color-primary!important;
      background-color: white!important;
    }
  }


}
