.loader-container{
  display: none;
  transition: all ease 0.5s;
  &.active{
    display: block;
    background-color: rgba(255,255,255,0.7);
    position: fixed;
    top : 0px;
    bottom : 0px;
    right : 0px;
    left : 0px;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .loader {
    border: 16px solid $color-gray;
    border-radius: 50%;
    border-top: 16px solid $color-accent;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
}

.main-content{
  &.loading{
      filter: blur(1.5px);
  }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
